CREATE TABLE student_profiles ( user_id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE, current_xp INT NOT NULL DEFAULT 0, current_level TEXT NOT NULL DEFAULT 'Estagiário', streak_days INT NOT NULL DEFAULT 0, last_study_date TIMESTAMPTZ, created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(), updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW() ); CREATE TABLE telemetry_events ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE, event_type TEXT NOT NULL, topic_id TEXT, metadata JSONB, created_at TIMESTAMPTZ NOT NULL DEFAULT NOW() ); ALTER TABLE student_profiles ENABLE ROW LEVEL SECURITY; ALTER TABLE telemetry_events ENABLE ROW LEVEL SECURITY; CREATE POLICY "Own profile select" ON student_profiles FOR SELECT USING (auth.uid() = user_id); CREATE POLICY "Own profile update" ON student_profiles FOR UPDATE USING (auth.uid() = user_id); CREATE POLICY "Own profile insert" ON student_profiles FOR INSERT WITH CHECK (auth.uid() = user_id); CREATE POLICY "Own events select" ON telemetry_events FOR SELECT USING (auth.uid() = user_id); CREATE POLICY "Own events insert" ON telemetry_events FOR INSERT WITH CHECK (auth.uid() = user_id);
