CREATE TABLE tickets ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE, assunto TEXT NOT NULL, categoria TEXT NOT NULL, mensagem TEXT NOT NULL, status TEXT NOT NULL DEFAULT 'ABERTO', created_at TIMESTAMPTZ NOT NULL DEFAULT NOW() ); ALTER TABLE tickets ENABLE ROW LEVEL SECURITY; CREATE POLICY "Users can view own tickets" ON tickets FOR SELECT USING (auth.uid() = user_id); CREATE POLICY "Users can insert own tickets" ON tickets FOR INSERT WITH CHECK (auth.uid() = user_id);
